extends layout

block content
  nav.white(role='navigation')
    .nav-wrapper.container
      a#logo-container.brand-logo(href='#') Logo
      ul.right.hide-on-med-and-down
        li
          a(href='#') Navbar Link
      ul#nav-mobile.side-nav
        li
          a(href='#') Navbar Link
      a.button-collapse(href='#', data-activates='nav-mobile')
        i.material-icons menu
  #index-banner.parallax-container
    .section.no-pad-bot
      .container
        br
        br
        h1.header.center.teal-text.text-lighten-2 The traveller (working title)
        .row.center
          h5.header.col.s12.light Created so you can experience new places like never before.
        .row.center
          a#login-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='/singup') Get Started
        br
        br
    .parallax
      img(src='/images/background1.jpg', alt='Unsplashed background img 1')
  .container
    .section
      // Icon Section
      .row
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons account_circle
            h5.center Register for free.
            p.light
              | Create a new account for free. After you've created your account you will be able to see all the places where people are hosting activities.
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons group
            h5.center Find activities.
            p.light
              | Find activities that are being hosted.
        .col.s12.m4
          .icon-block
            h2.center.brown-text
              i.material-icons explore
            h5.center Explore new places.
            p.light
              | Explore new places while travelling like never before. Go on a private tour with a local at your destination who can show you place where tourist woulden't normally even go.
  .parallax-container.valign-wrapper
    .section.no-pad-bot
      .container
        .row.center
          h5.header.col.s12.light A modern responsive front-end framework based on Material Design

    .parallax
      img(src='background2.jpg', alt='Unsplashed background img 2')
  .container
    .section
      .row
        .col.s12.center
          h3
            i.mdi-content-send.brown-text
          h4 Contact Us
          p.left-align.light
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
  .parallax-container.valign-wrapper
    .section.no-pad-bot
      .container
        .row.center
          h5.header.col.s12.light A modern responsive front-end framework based on Material Design
    .parallax
      img(src='background3.jpg', alt='Unsplashed background img 3')
  footer.page-footer.teal
    .container
      .row
        .col.l6.s12
          h5.white-text Company Bio
          p.grey-text.text-lighten-4
            | We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
        .col.l3.s12
          h5.white-text Settings
          ul
            li
              a.white-text(href='#!') Link 1
            li
              a.white-text(href='#!') Link 2
            li
              a.white-text(href='#!') Link 3
            li
              a.white-text(href='#!') Link 4
        .col.l3.s12
          h5.white-text Connect
          ul
            li
              a.white-text(href='#!') Link 1
            li
              a.white-text(href='#!') Link 2
            li
              a.white-text(href='#!') Link 3
            li
              a.white-text(href='#!') Link 4
    .footer-copyright
      .container
        | Made by
        a.brown-text.text-lighten-3(href='http://materializecss.com') Materialize
