// Created by dentorfs_ on 19/11/15.
extends layout

block content

 .row
    form(action='/index/getAccount' method='get' id='getAccount' ).col.s12
        .row
            .input-field.col.s6
                input#userName.validate(type='text' name='userName')
                label(for='userName') User Name
        .row
            .input-field.col.s6
                input#password.validate(type='password' name='password')
                label(for='password') Password
        .row
                p
                    a#login-button.btn-large.waves-effect.waves-light.teal.lighten-1(type='submit' form='getAccount') Login

