<!--doctype html--><html><head><title></title><link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/><link rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" type="text/css"/><link rel="stylesheet" href="/stylesheets/materialize.css" type="text/css"/><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqQEO2Fe7WVcPDiFggDeOqTLwQmHRjW2Q&amp;callback=initMap" async="async" defer="defer"></script><script src="https://code.jquery.com/jquery-2.1.1.min.js"></script><script src="/javascripts/materialize.min.js"></script><script src="/javascripts/materialize.js"></script></head><body><ul></ul><!--  each item, i in activitiesli
    p.light= item.NAME

li
    p.light= item.DESCRIPTION

p
    a#login-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='/OrganizeActivity') Create new activity
div(id='map')

    script.
       /* function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        }*/
       function initMap() {
           var myLatLng = {lat: -25.363, lng: 131.044};
           //var myLatLng = {lat: item.LATITUDE, lng: item.LONGTITUDE};
           var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 4,
               center: myLatLng
           });

           var marker = new google.maps.Marker({
               position: myLatLng,
               map: map,
               title: 'Hello World!'
           });
       }--></body></html>